In [95]:
import pandas as pd

In [96]:
input1 = pd.read_excel('Input_1.xlsx')

In [97]:
input2 = pd.read_excel('Input_2.xlsx')

In [98]:
input1.drop(['S No'],axis=1,inplace=True)
input2.drop(['S No'],axis=1,inplace=True)

In [99]:
d=input2[['name','uid','total_statements','total_reasons']]
d.rename(columns={'name':'Name','uid':'UID','total_statements':'No. of Statements','total_reasons':'No. of Reasons'},inplace=True)
d=pd.DataFrame(d.sort_values(by=['No. of Statements','No. of Reasons','Name'],ascending=False))
d['Rank']=d[['No. of Statements','No. of Reasons','Name']].apply(tuple,axis=1).rank(method='dense',ascending=False).astype(int)
d=d[d.columns[[4,0,1,2,3]]]
d.to_excel('output2.xlsx')

<ipython-input-99-c821f156bac3>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d.rename(columns={'name':'Name','uid':'UID','total_statements':'No. of Statements','total_reasons':'No. of Reasons'},inplace=True)

In [100]:
input3= pd.merge(input1,input2,left_on='User ID',right_on='uid',how='left')
input3.drop(['uid','name'],axis=1,inplace=True)

In [101]:
ip4=pd.DataFrame(input3.groupby(['Team Name'])['total_statements','total_reasons'].mean())
ip4

<ipython-input-101-7722f93a6dc6>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  ip4=pd.DataFrame(input3.groupby(['Team Name'])['total_statements','total_reasons'].mean())

                     total_statements  total_reasons
Team Name
BrandTech Lab                4.500000       5.500000
Growpital                    5.000000       5.666667
Human Capital Lab            2.000000       4.500000
Kringle                      4.500000       4.500000
Mentor                       7.333333       7.666667
Student Unicorn Lab          7.333333       6.333333
Tech Lab                     9.000000      10.000000
Winning Culture Lab         12.666667      16.000000

In [102]:
ip4['Rank']= ip4[['total_statements','total_reasons']].apply(tuple,axis=1).rank(method='dense',ascending=False).astype(int)
nms=['Rank','Team Name','total_statements','total_reasons']
ip4.reindex(columns=nms)
ip4=ip4[ip4.columns[[2,0,1]]]
ip4.rename(columns = {'total_statements':'Average Statements','total_reasons':'Average Reasons'}, inplace = True)
ip6=pd.DataFrame()
ip5=pd.DataFrame(input3.groupby(['Team Name']))
ip6['Thinking Team LeaderBoard']=ip5[0]
ip4.index=[0,1,2,3,4,5,6,7]
ip4=pd.merge(ip6, ip4, left_index=True, right_index=True)
ip4=ip4[ip4.columns[[1,0,2,3]]]
ip4=pd.DataFrame(ip4)
ip4=pd.DataFrame(ip4.sort_values(by=['Rank']))
ip4['Average Reasons']=ip4['Average Reasons'].round(2).astype(float)
ip4['Average Statements']=ip4['Average Statements'].round(2).astype(float)
ip4.to_excel('output1.xlsx')

<ipython-input-102-47005b1b1142>:7: FutureWarning: In a future version of pandas, a length 1 tuple will be returned when iterating over a groupby with a grouper equal to a list of length 1. Don't supply a list with a single grouper to avoid this warning.
  ip5=pd.DataFrame(input3.groupby(['Team Name']))